/* For Font import */
.Fira-Sans-normal {
  font-family: "Work Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
}
*{
    margin: 0;
    background-color: #dfdbdb;
}
/* Header Section */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 40px;
}

header .nav {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    margin-left: 58px;
}

header .primary-btn {
    padding: 10px 20px;
    border: 2px;
    border-color: #007b5e;
    border-style: solid;
    background-color: transparent;
    border-radius: 5px;
    color: #007b5e;
    margin-right: 58px;
}

header .primary-btn:hover {
    background-color: #007b5e;
    color: white;
    font-weight: 700;
}

/* Banner Content */
.section-banner {
    display: flex;
    background-color:#C6E4D6;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding: 30px;
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 12px;
    border: 2px solid #007b5e;
}
.section-banner .banner-content {
    text-align: left;
    max-width: 600px;
    background-color:#C6E4D6;
    padding: 40px;
    margin: 30px;
    border-radius: 12px;
  }
  .section-banner .banner-content h1 {
    font-size: 50px;
    font-weight: bold;
    color: #0E0E0E;
    background-color: #C6E4D6;
    margin-top: 12px;
  }
  .section-banner .banner-content h4 {
    font-size: 24px;
    font-weight: bold;
    color: #8b8a8a;
    background-color: #C6E4D6;
    /* margin: 18px; */
    padding bottom: 16px;
  }
  .section-banner .banner-content .explore-btn {
    font-size: 18px;
    background-color: #006A50;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 17px 34px;
    text-decoration: none;
    margin-top: 24px;
  }
  .section-banner .main-image img {
    background-color:#C6E4D6 ;
    border-radius: 12px;
  }